@use "../../_theme" as *;

.textbox {
  all: unset; // unset default styling
  width: 300px;
  background-color: color("surface");
  @include font("body");
  border: 1px solid #616366;
  border-radius: 10px;
  padding: 5px;
  font-family: "GmarketSansMedium", sans-serif;
}
