@use "../../_theme" as *;

$gap: 10px;
$border-radius: 20px;

.home-page {
  padding: $gap;
  width: 1366px;
  height: 100%;
  display: flex;
  gap: $gap;
  flex-direction: column;
  align-items: center;

  .profile-game {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: $gap;
    padding: $gap;
    font-family: "GmarketSansMedium", sans-serif;
    margin-right: 580px;

    .summoner-name {
      font-size: 20px;
      font-weight: bold;
      .id {
        color: gray;
      }
    }
  }

  .rank-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .rank-game {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .rank-indicators {
    }
  }

  .sync-btn {
    width: 120px;
    display: flex;
    font-weight: bold;
    background-color: white;
    color: #11235a;
    font-size: 16px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
    }
  }
}
