@use "../../theme" as *;

.button {
  width: fit-content;
  min-width: 7rem;
  border-radius: 5px;
  @include font("body");
  text-align: center;
  padding: 8px;
  cursor: pointer;
  user-select: none; /* disable text selection*/
  font-family: "GmarketSansMedium", sans-serif;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  }
}

.primary {
  @extend .button;
  background: linear-gradient(72deg, #313131, #202124);
}

.secondary {
  @extend .button;
}
