@use "../../_theme" as *;

$padding: 5px;
$borderRadius: 6px;

.trigger {
  all: unset;
  cursor: pointer;
  width: 150px;
  padding: $padding;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: color("surface");
  box-sizing: border-box;
  @include font("body");
  user-select: none;
  border-radius: $borderRadius;
  font-family: "GmarketSansMedium", sans-serif;
  border: 1px solid #616366;
}

.content {
  font-family: "GmarketSansMedium", sans-serif;
  background-color: darken(color("surface"), 10);
  border-radius: $borderRadius;
}

.item {
  font-family: "GmarketSansMedium", sans-serif;
  box-sizing: border-box;
  width: var(--radix-select-trigger-width);
  padding: $padding;
  @include font("body");
  border-radius: $borderRadius;
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: none;
  user-select: none;

  &[data-highlighted] {
    background-color: darken(color("surface"), 20);
  }
}
