.fight-box {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 2px;
  border-bottom: 1px dashed #35363b;
  /*   font-size: 15px;*/
  cursor: pointer;

  .match-leader {
    width: 600px;
  }
  .players-count {
    width: 100px;
  }
  .match-status {
    width: 100px;
  }
}
