@use "./_theme" as *;

$navbar-height: 100px;
$navbar-background: #282a2e;
$navbar-gap: 2rem;

html {
  user-select: none;
  box-sizing: border-box;
  @include font("body");
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body,
#main {
  height: 100%;
  margin: 0;
}

#content {
  display: flex;
  height: calc(100vh - $navbar-height);
  background-color: #212326;
  justify-content: center;
}

#navbar {
  color: #616366;
  font-weight: bold;
  font-size: medium;
  height: $navbar-height;
  background-color: $navbar-background;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "GmarketSansMedium", sans-serif;

  .nav {
    display: flex;
    gap: $navbar-gap;
    margin-left: $navbar-gap;

    .nav-item {
      all: unset;
      display: flex;
      align-items: center;
      padding: 0.75rem;
      font-size: 15px;
      cursor: pointer;

      &.selected {
        font-weight: bold;
        color: white;
      }
    }
  }

  .title-bar {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    .id {
      color: gray;
      font-weight: 200;
    }

    .profile {
      color: white;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: $navbar-gap;
      padding: 0.75rem;
      margin-left: auto;
    }

    .custom-button {
      padding-top: 5px;
      padding-right: 5px;
      .button-option {
        justify-content: center;
        background: none;
        border: none;
        filter: invert(39%) sepia(6%) saturate(236%) hue-rotate(177deg)
          brightness(94%) contrast(92%);
        :hover {
          cursor: pointer;
        }
      }
    }
  }
}
