@use "./_theme" as *;

$navbar-height: 50px;
$navbar-background: #efefef;
$navbar-gap: 1rem;

html {
  user-select: none;
  box-sizing: border-box;
  @include font("body");
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body,
#main {
  height: 100%;
  margin: 0;
}

#content {
  height: calc(100vh - $navbar-height);
  background-color: #11235a;
}

#navbar {
  color: black;
  font-weight: bold;
  font-size: medium;
  height: $navbar-height;
  background-color: $navbar-background;
  display: flex;
  justify-content: space-between;

  .nav {
    display: flex;
    gap: $navbar-gap;
    margin-left: $navbar-gap;

    .nav-item {
      all: unset;
      display: flex;
      align-items: center;
      padding: 0.75rem;
      font-size: 15px;
      cursor: pointer;

      &.selected {
        font-weight: bold;
        color: color("secondary");
      }
    }
  }

  .id {
    color: gray;
    font-weight: 200;
  }

  .profile {
    background-color: #efefef;
    color: black;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: $navbar-gap;
    padding: 0.75rem;
  }
}
